.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: #fff7eb;
  border-bottom: 3px solid #f97316;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background: white;
  margin: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #d35400;
  margin-left: 12px;
}

.main-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 3px solid #f97316;
  margin: 0;
  min-height: 100vh;
  overflow-y: auto;
}


.ingredient-form {
  display: flex;
  margin-left: 10px;
  gap: 15px;
  justify-content: left;
  align-items: center;
}

.ingredient-input {
  padding: 12px 16px;
  height: 35px;
  width: 500px;
  font-size: 1rem;
  border: 2px solid #f97316;
  border-radius: 8px;
  outline: none;
  transition: 0.2s ease;
}

.ingredient-input:focus {
  border-color: #d35400;
  box-shadow: 0 0 5px rgba(243, 109, 29, 0.5);
}

.add-btn {
  padding: 12px 18px;
  background-color: #d35400;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  width: 175px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-btn:hover {
  background-color: #b94600;
}

.ign-list {
  list-style: none;
  padding: 0;
  margin: 30px 10px;
  width: 500px;
}

.ign-list li {
  background: #fff7eb;
  border-left: 6px solid #f97316;
  padding: 14px 18px;
  font-size: 1.25rem;
  color: #d35400;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
}

.ign-list li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  border-left-color: #d35400;
}
