.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #fff7eb;
  border-bottom: 3px solid #f97316;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background: white;
  margin: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #d35400;
  margin-left: 12px;
}



.main-container {
  width: 100%;
  display: flex;
  margin: 25px;
}

.ingredient-form {
  display: flex;
  margin-left: 10px;
  gap: 15px;
  justify-content: left;
  align-items: center;
}

.ingredient-input {
  padding: 12px 16px;
  height: 15px;
  width: 400px;
  font-size: 1rem;
  border: 2px solid #f97316;
  border-radius: 8px;
  outline: none;
  transition: 0.2s ease;
}

.ingredient-input:focus {
  border-color: #d35400;
  box-shadow: 0 0 5px rgba(243, 109, 29, 0.5);
}

.add-btn {
  padding: 12px 18px;
  background-color: #d35400;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  width: 150px;
  height: 42px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-btn:hover {
  background-color: #b94600;
}

